<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet" href="/public/css/style.css">
</head>
<body>
    <p>Words Counter</p>
    <label for="userText">Input Text</label>
    <textarea id="userText" name="userText" rows="5" cols="30"></textarea>
    <button type="button" id="wordCountButton">Count Words</button>

    <p>Words Count Table</p>
    <div id="wordCountTableContainer"></div>
    
    <script
      src="https://code.jquery.com/jquery-3.6.0.min.js" integrity="sha256-/xUj+3OJU5yExlq6GSYGSHk7tPXikynS7ogEvDej/m4="
      crossorigin="anonymous"></script>
    <script src="/public/js/wordcounter.js"></script>
</body>
</html>